{% extends "manager/index.html" %}
{% block content %}

<div class="container-fluid">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title fw-semibold mb-4">Add Product</h5>
        <div class="card">
          <div class="card-body">
            <form method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="mb-3">
                {{form.name}}
                <div id="emailHelp" class="form-text"></div>
              </div>
              <div class="mb-3">
                {{form.slug}}
                <div id="emailHelp" class="form-text"></div>
              </div>

              <div class="mb-3">
                <img id="file-ip-1-preview" class="rounded mx-auto  " style="height: 10%;width: 20%; display: none;"  src=""/>
              </div>
              <div class="mb-3">
                {{form.img}}
              </div>
              
              
              

              

              <div class="mb-3 form-check">
                <label for="">Category</label>
                {{form.Category|capfirst}}
              </div>

              <div class="mb-3 form-check">
                <label for="">Brand</label>
                {{form.Brand|capfirst}}
              </div>

              <div class="mb-3 form-check">
                <label for="">description</label>
                {{form.discrption}}
                
              </div>

              <div class="mb-3 form-check">
                <label for="">Stock</label>
                {{form.stocks}}
              </div>
               
              <div class="mb-3 form-check">
                <label for="">Price</label>
                {{form.price}}
              </div>

              <div class="mb-3 form-check">
                <label for="">is_available</label>
                {{form.is_available}}
                
              </div>

              <div class="col form-group">
                <input type="submit" name="submit" id="submit" class="btn btn-success" value="Save"/>
             </div>

              <div class="mb-3 form-check">
                {% if form.errors %}
                  <div class="alert alert-danger" role="alert">
                      {% for field, errors in form.errors.items %}
                      {% for error in errors %}
                      <b>{{ field }}</b>: {{ error }}
                      {% endfor %}
                      {% endfor %}
                  </div>
                {% endif %}
                
              </div>

         

              
            </div>   
              
              
              
            </form>
          </div>


          
         
    </div> 
</div>   
<script>
  const productNameInput = document.querySelector('#prd_name');
  const slugInput = document.querySelector('#slug');
 
  productNameInput.addEventListener('input', function() {
    const product_name = this.value;
    const slug = product_name.replace(/\s+/g, '-').toLowerCase();
    slugInput.value = slug;
  });

  function showPreview(event){
  if(event.target.files.length > 0){
    var src = URL.createObjectURL(event.target.files[0]);
    var preview = document.getElementById("file-ip-1-preview");

    preview.src = src;
    preview.style.display = "block";
  }
  }
  

</script>
{% endblock content %}