{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Modernize Free</title>
  <link rel="shortcut icon" type="image/png" href="../assets/images/logos/favicon.png" />
  <link rel="stylesheet" href="{% static "manager/css/styles.min.css" %}"/>
  
</head>

<body>
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <!-- Sidebar Start -->
    {% include "manager/sidebar.html" %}
    <!--  Sidebar End -->
    <!--  Main wrapper -->
    <div class="body-wrapper">
      <!--  Header Start -->
      {% include "manager/header.html" %}
      <!--  Header End -->
      {% block content %}
      {% endblock content %}
    </div>
  </div>
  <script src="{% static  "manager/libs/jquery/dist/jquery.min.js" %}"></script>
  <script src="{% static  "manager/libs/bootstrap/dist/js/bootstrap.bundle.min.js" %}"></script>
  <script src="{% static  "manager/js/sidebarmenu.js" %}"></script>
  <script src="{% static  "manager/js/app.min.js" %}"></script>
  <script src="{% static  "manager/libs/apexcharts/dist/apexcharts.min.js" %}"></script>
  <script src="{% static  "manager/libs/simplebar/dist/simplebar.js" %}"></script>
  <script src="{% static  "manager/js/dashboard.js" %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.6.5/sweetalert2.all.min.js"></script>
</body>

</html>


{% load sweetify %}
{% sweetify %}