{% extends "manager/index.html" %}
{% block content %}
<div class="container-fluid">
    <div class="card">
      <div class="card-body">

        <div class="d-flex justify-content-between">

          <h5 class="card-title fw-semibold mb-4 ">Product</h5>

          <a href="{% url "addprd" %}" class="btn btn-success m-1">Add a new Product </a>

        </div>

       
        <br>
        <div class="row">
          {% for product in products %}
          <div class="col-md-4">
            <div class="card mt-4">
                <!-- Card image -->
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                  <img class="border rounded w-100 object-fit-cover" src="{{product.img.url}}">
                  <!-- List group -->
                  <ul class="list-group list-group-flush mt-2">
                    <li class="list-group-item">{{product.name}}</li>
                    <li class="list-group-item">{{product.Category}}</li>
                    <li class="list-group-item">  <i class="ti ti-tick"></i> {{product.Brand}}</li>
                    <li class="list-group-item">MRP {{product.price}}</li>
                    <li class="list-group-item"> {{product.stocks}} Stocks </li>
                    
                  </ul>
                </div>
                <!-- Card body -->
                <div class="card-body">
                  <h4 class="font-weight-normal mt-3"></h4>
                  <p class="card-text mb-4"></p>
                  
            
                  <div class="d-flex">
                    <a class="btn btn-danger" href="#" style="background-color:red;">Delete</a>
                    <a class="btn btn-success ms-2" href="#">Edit</a>
                  </div>
                </div>
                
            </div>
          </div>  
          {% endfor %}
          </div>  
        
      </div> 
    </div>    
</div>

{% endblock content %}


